/* =============================================================
   SEMANTIC COLOR TOKENS
   Semantic usage tokens. Apply [data-mode] attribute to <html>
   to switch between modes:
     - default (light-white)
     - [data-mode='light-grey']
     - [data-mode='dark']
   ============================================================= */

:root,
[data-mode='light-white'] {
  --backgrounds-01: #ffffff;
  --backgrounds-02: #ffffff;
  --fills-white: #ffffff;
  --fills-gray-1: #f4f5f6;
  --fills-p2: #b0d9ff;
  --fills-s1-1: #f8d5e0;
  --fills-success-1: #a2dbb3;
  --fills-error-1: #d9b8b9;
  --fills-warning-1: #f9d999;
  --fills-gray-2: #e3e5e8;
  --fills-p1: #d9edff;
  --fills-p4: #003865;
  --fills-hover: #d9edff;
  --fills-p3: #0072f5;
  --fills-s2-2: #88e783;
  --fills-s3-2: #8be1e9;
  --fills-s4-2: #a094ff;
  --fills-black: #000000;
  --fills-s1-2: #eca7bd;
  --fills-s1-3: #cf2259;
  --fills-s2-3: #024700;
  --fills-s2-1: #b4f8b1;
  --fills-s3-3: #003033;
  --fills-s3-1: #d6f3f5;
  --fills-s4-3: #350084;
  --fills-s4-1: #e2dff7;
  --fills-always-white: #ffffff;
  --fills-always-black: #000000;
  --fills-gray-3: #ffffff;
  --fills-p5: #001a33;
  --fills-s1-4: #92163d;
  --fills-s1-5: #73123c;
  --fills-s2-4: #024700;
  --fills-s2-5: #024700;
  --fills-success-2: #6dc849;
  --fills-success-3: #237210;
  --fills-error-2: #d63838;
  --fills-error-3: #850606;
  --fills-warning-2: #f7ba40;
  --fills-warning-3: #7a5706;
  --fills-s3-4: #003033;
  --fills-s3-5: #003033;
  --fills-s4-4: #350084;
  --fills-s4-5: #350084;
  --fills-gray-2-3: #e3e5e8;
  --fills-gray-2-2: #e3e5e8;
  --texts-01: #001a33;
  --texts-02: #4c5f70;
  --texts-primary-1: #0072f5;
  --texts-error: #850606;
  --texts-success: #237210;
  --texts-warning: #7a5706;
  --texts-link: #0072f5;
  --texts-secondary-1: #cf2259;
  --texts-hover: #0072f5;
  --texts-secondary-2: #eca7bd;
  --texts-always-black: #000d1a;
  --texts-always-white: #ffffff;
  --texts-03: #c0c6cc;
  --texts-secondary-3: #73123c;
  --texts-disabled: #c0c6cc;
  --texts-primary-2: #b0d9ff;
  --strokes-icons-02: #4c5f70;
  --strokes-icons-03: #c0c6cc;
  --strokes-icons-01: #001a33;
  --strokes-icons-success-1: #a2dbb3;
  --strokes-icons-error-1: #d9b8b9;
  --strokes-icons-warning-1: #f9d999;
  --strokes-icons-04: #e3e5e8;
  --strokes-icons-p-1: #b0d9ff;
  --strokes-icons-p-2: #0072f5;
  --strokes-icons-p-3: #003865;
  --strokes-icons-p-4: #001a33;
  --strokes-icons-s1-1: #eca7bd;
  --strokes-icons-s1-2: #cf2259;
  --strokes-icons-s1-3: #73123c;
  --strokes-icons-s2-3: #024700;
  --strokes-icons-s2-1: #b4f8b1;
  --strokes-icons-s2-2: #88e783;
  --strokes-icons-s3-1: #d6f3f5;
  --strokes-icons-s3-2: #8be1e9;
  --strokes-icons-s3-3: #003033;
  --strokes-icons-s4-1: #e2dff7;
  --strokes-icons-s4-2: #a094ff;
  --strokes-icons-s4-3: #350084;
  --strokes-icons-success-2: #6dc849;
  --strokes-icons-success-3: #237210;
  --strokes-icons-error-2: #d63838;
  --strokes-icons-error-3: #850606;
  --strokes-icons-warning-2: #f7ba40;
  --strokes-icons-warning-3: #7a5706;
  --button-primary-default-fill: #0072f5;
  --button-primary-default-stroke: #0072f5;
  --button-primary-default-text: #ffffff;
  --button-primary-default-icon: #ffffff;
  --button-primary-hover-fill: #003865;
  --button-primary-hover-stroke: #000000;
  --button-primary-hover-text: #ffffff;
  --button-primary-hover-icon: #ffffff;
  --button-primary-disabled-fill: #000000;
  --button-primary-disabled-text: #000000;
  --button-primary-disabled-icon: #000000;
  --button-primary-disabled-stroke: #000000;
  --button-primary-focused-fill: #0072f5;
  --button-primary-focused-stroke: #003865;
  --button-primary-focused-text: #ffffff;
  --button-primary-focused-icon: #ffffff;
  --button-primary-selected-fill: #003865;
  --button-primary-selected-stroke: #0072f5;
  --button-primary-selected-text: #ffffff;
  --button-primary-selected-icon: #ffffff;
  --button-secondary-default-stroke: #f4f5f6;
  --button-secondary-default-fill: #f4f5f6;
  --button-secondary-default-text: #001a33;
  --button-secondary-default-icon: #001a33;
  --button-secondary-hover-fill: #0072f5;
  --button-secondary-hover-stroke: #0072f5;
  --button-secondary-hover-text: #ffffff;
  --button-secondary-hover-icon: #e3e5e8;
  --button-secondary-focused-fill: #f4f5f6;
  --button-secondary-focused-stroke: #0072f5;
  --button-secondary-focused-text: #001a33;
  --button-secondary-focused-icon: #001a33;
  --button-secondary-selected-fill: #d9edff;
  --button-secondary-selected-stroke: #ffffff;
  --button-secondary-selected-text: #001a33;
  --button-secondary-selected-icon: #001a33;
  --button-secondary-disabled-fill: #000000;
  --button-secondary-disabled-text: #000000;
  --button-secondary-disabled-icon: #000000;
  --button-secondary-disabled-stroke: #000000;
  --button-terciary-default-fill: #000000;
  --button-terciary-default-stroke: #000000;
  --button-terciary-default-text: #001a33;
  --button-terciary-default-icon: #001a33;
  --button-terciary-hover-fill: #0072f5;
  --button-terciary-hover-stroke: #0072f5;
  --button-terciary-hover-text: #ffffff;
  --button-terciary-hover-icon: #e3e5e8;
  --button-terciary-focused-fill: #eef7ff;
  --button-terciary-focused-stroke: #eef7ff;
  --button-terciary-focused-text: #001a33;
  --button-terciary-focused-icon: #001a33;
  --button-terciary-selected-fill: #d9edff;
  --button-terciary-selected-stroke: #ffffff;
  --button-terciary-selected-text: #001a33;
  --button-terciary-selected-icon: #001a33;
  --button-terciary-disabled-fill: #000000;
  --button-terciary-disabled-stroke: #000000;
  --button-terciary-disabled-text: #000000;
  --button-terciary-disabled-icon: #000000;
  --button-link-primary-default-fill: #000000;
  --button-link-primary-default-stroke: #000000;
  --button-link-primary-default-text: #0072f5;
  --button-link-primary-default-icon: #0072f5;
  --button-link-primary-hover-fill: #000000;
  --button-link-primary-hover-stroke: #000000;
  --button-link-primary-hover-text: #003865;
  --button-link-primary-hover-icon: #003865;
  --button-link-primary-focused-fill: #000000;
  --button-link-primary-focused-stroke: #000000;
  --button-link-primary-focused-text: #0072f5;
  --button-link-primary-focused-icon: #0072f5;
  --button-link-primary-selected-fill: #000000;
  --button-link-primary-selected-stroke: #000000;
  --button-link-primary-selected-text: #000000;
  --button-link-primary-selected-icon: #000000;
  --button-link-primary-disabled-fill: #000000;
  --button-link-primary-disabled-stroke: #000000;
  --button-link-primary-disabled-text: #000000;
  --button-link-primary-disabled-icon: #c0c6cc;
  --button-transactional-default-fill: #cf2259;
  --button-transactional-default-stroke: #cf2259;
  --button-transactional-default-text: #ffffff;
  --button-transactional-default-icon: #ffffff;
  --button-transactional-hover-fill: #92163d;
  --button-transactional-hover-stroke: #92163d;
  --button-transactional-hover-text: #f8d5e0;
  --button-transactional-hover-icon: #f8d5e0;
  --button-transactional-focused-fill: #cf2259;
  --button-transactional-focused-stroke: #73123c;
  --button-transactional-focused-text: #ffffff;
  --button-transactional-focused-icon: #ffffff;
  --button-transactional-selected-fill: #92163d;
  --button-transactional-selected-stroke: #92163d;
  --button-transactional-selected-text: #ffffff;
  --button-transactional-selected-icon: #ffffff;
  --button-transactional-disabled-fill: #f4f5f6;
  --button-transactional-disabled-stroke: #000000;
  --button-transactional-disabled-text: #000000;
  --button-transactional-disabled-icon: #000000;
  --button-link-secondary-default-fill: #000000;
  --button-link-secondary-default-stroke: #000000;
  --button-link-secondary-default-text: #c0c6cc;
  --button-link-secondary-default-icon: #c0c6cc;
  --button-link-secondary-hover-stroke: #000000;
  --button-link-secondary-hover-text: #6b7b8a;
  --button-link-secondary-hover-icon: #6b7b8a;
  --button-link-secondary-hover-fill: #000000;
  --button-link-secondary-focused-stroke: #000000;
  --button-link-secondary-focused-text: #a0acb8;
  --button-link-secondary-focused-icon: #a0acb8;
  --button-link-secondary-focused-fill: #ffffff;
  --button-link-secondary-selected-fill: #000000;
  --button-link-secondary-selected-stroke: #000000;
  --button-link-secondary-selected-text: #a0acb8;
  --button-link-secondary-selected-icon: #a0acb8;
  --button-link-secondary-disabled-fill: #000000;
  --button-link-secondary-disabled-stroke: #000000;
  --button-link-secondary-disabled-text: #c0c6cc;
  --button-link-secondary-disabled-icon: #c0c6cc;
  --button-navigation-default-fill: #f4f5f6;
  --button-navigation-default-stroke: #ffffff;
  --button-navigation-default-text: #001a33;
  --button-navigation-default-icon: #001a33;
  --button-navigation-hover-fill: #d9edff;
  --button-navigation-hover-stroke: #ffffff;
  --button-navigation-hover-text: #001a33;
  --button-navigation-hover-icon: #001a33;
  --button-navigation-focused-fill: #f4f5f6;
  --button-navigation-focused-stroke: #0072f5;
  --button-navigation-focused-text: #001a33;
  --button-navigation-focused-icon: #001a33;
  --button-navigation-selected-fill: #d9edff;
  --button-navigation-selected-stroke: #ffffff;
  --button-navigation-selected-text: #001a33;
  --button-navigation-selected-icon: #001a33;
  --button-navigation-disabled-fill: #000000;
  --button-navigation-disabled-stroke: #000000;
  --button-navigation-disabled-text: #000000;
  --button-navigation-disabled-icon: #000000;
  --forms-default-stroke: #e3e5e8;
  --forms-default-fill: #ffffff;
  --forms-default-text: #4c5f70;
  --forms-default-label-out: #4c5f70;
  --forms-default-icon: #4c5f70;
  --forms-default-message: #4c5f70;
  --forms-default-label-in: #6b7b8a;
  --forms-hover-stroke: #b0d9ff;
  --forms-hover-fill: #000000;
  --forms-hover-text: #001a33;
  --forms-hover-label-out: #4c5f70;
  --forms-hover-icon: #001a33;
  --forms-hover-message: #4c5f70;
  --forms-hover-label-in: #6b7b8a;
  --forms-focused-stroke: #b0d9ff;
  --forms-focused-fill: #eef7ff;
  --forms-focused-text: #001a33;
  --forms-focused-label-out: #001a33;
  --forms-focused-icon: #001a33;
  --forms-focused-message: #4c5f70;
  --forms-focused-label-in: #4c5f70;
  --forms-filled-stroke: #c0c6cc;
  --forms-filled-fill: #000000;
  --forms-filled-text: #001a33;
  --forms-filled-label-out: #4c5f70;
  --forms-filled-icon: #001a33;
  --forms-filled-message: #4c5f70;
  --forms-filled-label-in: #6b7b8a;
  --forms-error-stroke: #d63838;
  --forms-error-fill: #000000;
  --forms-error-text: #000000;
  --forms-error-label-out: #000000;
  --forms-error-icon: #001a33;
  --forms-error-message: #850606;
  --forms-error-label-in: #4c5f70;
  --forms-disabled-stroke: #000000;
  --forms-disabled-text: #000000;
  --forms-disabled-fill: #000000;
  --forms-disabled-label-out: #000000;
  --forms-disabled-icon: #000000;
  --forms-disabled-message: #000000;
  --forms-disabled-label-in: #000000;
  --forms-selected-fill: #6b7b8a;
  --forms-selected-stroke: #6b7b8a;
  --forms-selected-text: #6b7b8a;
  --forms-selected-label-out: #6b7b8a;
  --forms-selected-label-in: #6b7b8a;
  --forms-selected-icon: #6b7b8a;
  --forms-selected-message: #6b7b8a;
  --forms-validated-fill: #ffffff;
  --forms-validated-stroke: #6dc849;
  --forms-validated-text: #000000;
  --forms-validated-label-out: #000000;
  --forms-validated-label-in: #4c5f70;
  --forms-validated-icon: #001a33;
  --forms-validated-message: #237210;
  --forms-undefined-fill: #6b7b8a;
  --forms-undefined-stroke: #6b7b8a;
  --forms-undefined-text: #6b7b8a;
  --forms-undefined-label-out: #6b7b8a;
  --forms-undefined-label-in: #6b7b8a;
  --forms-undefined-icon: #6b7b8a;
  --forms-undefined-message: #6b7b8a;
}

[data-mode='light-grey'] {
  --backgrounds-01: #eef7ff;
  --backgrounds-02: #eef7ff;
  --fills-white: #ffffff;
  --fills-gray-1: #ffffff;
  --fills-p2: #b0d9ff;
  --fills-s1-1: #f8d5e0;
  --fills-success-1: #a2dbb3;
  --fills-error-1: #d9b8b9;
  --fills-warning-1: #f9d999;
  --fills-gray-2: #d9edff;
  --fills-p1: #d9edff;
  --fills-p4: #003865;
  --fills-hover: #d9edff;
  --fills-p3: #0072f5;
  --fills-s2-2: #88e783;
  --fills-s3-2: #8be1e9;
  --fills-s4-2: #a094ff;
  --fills-black: #000000;
  --fills-s1-2: #eca7bd;
  --fills-s1-3: #cf2259;
  --fills-s2-3: #024700;
  --fills-s2-1: #b4f8b1;
  --fills-s3-3: #003033;
  --fills-s3-1: #d6f3f5;
  --fills-s4-3: #350084;
  --fills-s4-1: #e2dff7;
  --fills-always-white: #ffffff;
  --fills-always-black: #000000;
  --fills-gray-3: #eef7ff;
  --fills-p5: #001a33;
  --fills-s1-4: #92163d;
  --fills-s1-5: #73123c;
  --fills-s2-4: #024700;
  --fills-s2-5: #024700;
  --fills-success-2: #6dc849;
  --fills-success-3: #237210;
  --fills-error-2: #d63838;
  --fills-error-3: #850606;
  --fills-warning-2: #f7ba40;
  --fills-warning-3: #7a5706;
  --fills-s3-4: #003033;
  --fills-s3-5: #003033;
  --fills-s4-4: #350084;
  --fills-s4-5: #350084;
  --fills-gray-2-3: #c0c6cc;
  --fills-gray-2-2: #c0c6cc;
  --texts-01: #001a33;
  --texts-02: #4c5f70;
  --texts-primary-1: #0072f5;
  --texts-error: #850606;
  --texts-success: #237210;
  --texts-warning: #7a5706;
  --texts-link: #0072f5;
  --texts-secondary-1: #cf2259;
  --texts-hover: #0072f5;
  --texts-secondary-2: #eca7bd;
  --texts-always-black: #000d1a;
  --texts-always-white: #ffffff;
  --texts-03: #a0acb8;
  --texts-secondary-3: #73123c;
  --texts-disabled: #a0acb8;
  --texts-primary-2: #b0d9ff;
  --strokes-icons-02: #4c5f70;
  --strokes-icons-03: #c0c6cc;
  --strokes-icons-01: #001a33;
  --strokes-icons-success-1: #a2dbb3;
  --strokes-icons-error-1: #d9b8b9;
  --strokes-icons-warning-1: #f9d999;
  --strokes-icons-04: #e3e5e8;
  --strokes-icons-p-1: #b0d9ff;
  --strokes-icons-p-2: #0072f5;
  --strokes-icons-p-3: #003865;
  --strokes-icons-p-4: #001a33;
  --strokes-icons-s1-1: #eca7bd;
  --strokes-icons-s1-2: #cf2259;
  --strokes-icons-s1-3: #73123c;
  --strokes-icons-s2-3: #024700;
  --strokes-icons-s2-1: #b4f8b1;
  --strokes-icons-s2-2: #88e783;
  --strokes-icons-s3-1: #d6f3f5;
  --strokes-icons-s3-2: #8be1e9;
  --strokes-icons-s3-3: #003033;
  --strokes-icons-s4-1: #e2dff7;
  --strokes-icons-s4-2: #a094ff;
  --strokes-icons-s4-3: #350084;
  --strokes-icons-success-2: #6dc849;
  --strokes-icons-success-3: #237210;
  --strokes-icons-error-2: #d63838;
  --strokes-icons-error-3: #850606;
  --strokes-icons-warning-2: #f7ba40;
  --strokes-icons-warning-3: #7a5706;
  --button-primary-default-fill: #0072f5;
  --button-primary-default-stroke: #0072f5;
  --button-primary-default-text: #ffffff;
  --button-primary-default-icon: #ffffff;
  --button-primary-hover-fill: #003865;
  --button-primary-hover-stroke: #000000;
  --button-primary-hover-text: #ffffff;
  --button-primary-hover-icon: #ffffff;
  --button-primary-disabled-fill: #000000;
  --button-primary-disabled-text: #000000;
  --button-primary-disabled-icon: #000000;
  --button-primary-disabled-stroke: #000000;
  --button-primary-focused-fill: #0072f5;
  --button-primary-focused-stroke: #003865;
  --button-primary-focused-text: #ffffff;
  --button-primary-focused-icon: #ffffff;
  --button-primary-selected-fill: #003865;
  --button-primary-selected-stroke: #0072f5;
  --button-primary-selected-text: #ffffff;
  --button-primary-selected-icon: #ffffff;
  --button-secondary-default-stroke: #ffffff;
  --button-secondary-default-fill: #ffffff;
  --button-secondary-default-text: #001a33;
  --button-secondary-default-icon: #001a33;
  --button-secondary-hover-fill: #0072f5;
  --button-secondary-hover-stroke: #0072f5;
  --button-secondary-hover-text: #ffffff;
  --button-secondary-hover-icon: #e3e5e8;
  --button-secondary-focused-fill: #ffffff;
  --button-secondary-focused-stroke: #0072f5;
  --button-secondary-focused-text: #001a33;
  --button-secondary-focused-icon: #001a33;
  --button-secondary-selected-fill: #d9edff;
  --button-secondary-selected-stroke: #ffffff;
  --button-secondary-selected-text: #001a33;
  --button-secondary-selected-icon: #001a33;
  --button-secondary-disabled-fill: #000000;
  --button-secondary-disabled-text: #000000;
  --button-secondary-disabled-icon: #000000;
  --button-secondary-disabled-stroke: #000000;
  --button-terciary-default-fill: #000000;
  --button-terciary-default-stroke: #000000;
  --button-terciary-default-text: #001a33;
  --button-terciary-default-icon: #001a33;
  --button-terciary-hover-fill: #0072f5;
  --button-terciary-hover-stroke: #0072f5;
  --button-terciary-hover-text: #ffffff;
  --button-terciary-hover-icon: #e3e5e8;
  --button-terciary-focused-fill: #eef7ff;
  --button-terciary-focused-stroke: #eef7ff;
  --button-terciary-focused-text: #001a33;
  --button-terciary-focused-icon: #001a33;
  --button-terciary-selected-fill: #d9edff;
  --button-terciary-selected-stroke: #ffffff;
  --button-terciary-selected-text: #001a33;
  --button-terciary-selected-icon: #001a33;
  --button-terciary-disabled-fill: #000000;
  --button-terciary-disabled-stroke: #000000;
  --button-terciary-disabled-text: #000000;
  --button-terciary-disabled-icon: #000000;
  --button-link-primary-default-fill: #000000;
  --button-link-primary-default-stroke: #000000;
  --button-link-primary-default-text: #0072f5;
  --button-link-primary-default-icon: #0072f5;
  --button-link-primary-hover-fill: #000000;
  --button-link-primary-hover-stroke: #000000;
  --button-link-primary-hover-text: #003865;
  --button-link-primary-hover-icon: #003865;
  --button-link-primary-focused-fill: #000000;
  --button-link-primary-focused-stroke: #000000;
  --button-link-primary-focused-text: #0072f5;
  --button-link-primary-focused-icon: #0072f5;
  --button-link-primary-selected-fill: #000000;
  --button-link-primary-selected-stroke: #000000;
  --button-link-primary-selected-text: #000000;
  --button-link-primary-selected-icon: #000000;
  --button-link-primary-disabled-fill: #000000;
  --button-link-primary-disabled-stroke: #000000;
  --button-link-primary-disabled-text: #000000;
  --button-link-primary-disabled-icon: #c0c6cc;
  --button-transactional-default-fill: #cf2259;
  --button-transactional-default-stroke: #cf2259;
  --button-transactional-default-text: #ffffff;
  --button-transactional-default-icon: #ffffff;
  --button-transactional-hover-fill: #92163d;
  --button-transactional-hover-stroke: #92163d;
  --button-transactional-hover-text: #f8d5e0;
  --button-transactional-hover-icon: #f8d5e0;
  --button-transactional-focused-fill: #cf2259;
  --button-transactional-focused-stroke: #73123c;
  --button-transactional-focused-text: #ffffff;
  --button-transactional-focused-icon: #ffffff;
  --button-transactional-selected-fill: #92163d;
  --button-transactional-selected-stroke: #92163d;
  --button-transactional-selected-text: #ffffff;
  --button-transactional-selected-icon: #ffffff;
  --button-transactional-disabled-fill: #f4f5f6;
  --button-transactional-disabled-stroke: #000000;
  --button-transactional-disabled-text: #000000;
  --button-transactional-disabled-icon: #000000;
  --button-link-secondary-default-fill: #000000;
  --button-link-secondary-default-stroke: #000000;
  --button-link-secondary-default-text: #c0c6cc;
  --button-link-secondary-default-icon: #c0c6cc;
  --button-link-secondary-hover-stroke: #000000;
  --button-link-secondary-hover-text: #6b7b8a;
  --button-link-secondary-hover-icon: #6b7b8a;
  --button-link-secondary-hover-fill: #000000;
  --button-link-secondary-focused-stroke: #000000;
  --button-link-secondary-focused-text: #a0acb8;
  --button-link-secondary-focused-icon: #a0acb8;
  --button-link-secondary-focused-fill: #ffffff;
  --button-link-secondary-selected-fill: #000000;
  --button-link-secondary-selected-stroke: #000000;
  --button-link-secondary-selected-text: #a0acb8;
  --button-link-secondary-selected-icon: #a0acb8;
  --button-link-secondary-disabled-fill: #000000;
  --button-link-secondary-disabled-stroke: #000000;
  --button-link-secondary-disabled-text: #c0c6cc;
  --button-link-secondary-disabled-icon: #c0c6cc;
  --button-navigation-default-fill: #ffffff;
  --button-navigation-default-stroke: #ffffff;
  --button-navigation-default-text: #001a33;
  --button-navigation-default-icon: #001a33;
  --button-navigation-hover-fill: #d9edff;
  --button-navigation-hover-stroke: #ffffff;
  --button-navigation-hover-text: #001a33;
  --button-navigation-hover-icon: #001a33;
  --button-navigation-focused-fill: #ffffff;
  --button-navigation-focused-stroke: #0072f5;
  --button-navigation-focused-text: #001a33;
  --button-navigation-focused-icon: #001a33;
  --button-navigation-selected-fill: #d9edff;
  --button-navigation-selected-stroke: #ffffff;
  --button-navigation-selected-text: #001a33;
  --button-navigation-selected-icon: #001a33;
  --button-navigation-disabled-fill: #000000;
  --button-navigation-disabled-stroke: #000000;
  --button-navigation-disabled-text: #000000;
  --button-navigation-disabled-icon: #000000;
  --forms-default-stroke: #e3e5e8;
  --forms-default-fill: #ffffff;
  --forms-default-text: #4c5f70;
  --forms-default-label-out: #4c5f70;
  --forms-default-icon: #4c5f70;
  --forms-default-message: #4c5f70;
  --forms-default-label-in: #6b7b8a;
  --forms-hover-stroke: #b0d9ff;
  --forms-hover-fill: #000000;
  --forms-hover-text: #001a33;
  --forms-hover-label-out: #4c5f70;
  --forms-hover-icon: #001a33;
  --forms-hover-message: #4c5f70;
  --forms-hover-label-in: #6b7b8a;
  --forms-focused-stroke: #b0d9ff;
  --forms-focused-fill: #ffffff;
  --forms-focused-text: #001a33;
  --forms-focused-label-out: #001a33;
  --forms-focused-icon: #001a33;
  --forms-focused-message: #4c5f70;
  --forms-focused-label-in: #4c5f70;
  --forms-filled-stroke: #c0c6cc;
  --forms-filled-fill: #000000;
  --forms-filled-text: #001a33;
  --forms-filled-label-out: #4c5f70;
  --forms-filled-icon: #001a33;
  --forms-filled-message: #4c5f70;
  --forms-filled-label-in: #6b7b8a;
  --forms-error-stroke: #d63838;
  --forms-error-fill: #000000;
  --forms-error-text: #000000;
  --forms-error-label-out: #000000;
  --forms-error-icon: #001a33;
  --forms-error-message: #850606;
  --forms-error-label-in: #4c5f70;
  --forms-disabled-stroke: #000000;
  --forms-disabled-text: #000000;
  --forms-disabled-fill: #000000;
  --forms-disabled-label-out: #000000;
  --forms-disabled-icon: #000000;
  --forms-disabled-message: #000000;
  --forms-disabled-label-in: #000000;
  --forms-selected-fill: #6b7b8a;
  --forms-selected-stroke: #6b7b8a;
  --forms-selected-text: #6b7b8a;
  --forms-selected-label-out: #6b7b8a;
  --forms-selected-label-in: #6b7b8a;
  --forms-selected-icon: #6b7b8a;
  --forms-selected-message: #6b7b8a;
  --forms-validated-fill: #ffffff;
  --forms-validated-stroke: #6dc849;
  --forms-validated-text: #000000;
  --forms-validated-label-out: #000000;
  --forms-validated-label-in: #4c5f70;
  --forms-validated-icon: #001a33;
  --forms-validated-message: #237210;
  --forms-undefined-fill: #6b7b8a;
  --forms-undefined-stroke: #6b7b8a;
  --forms-undefined-text: #6b7b8a;
  --forms-undefined-label-out: #6b7b8a;
  --forms-undefined-label-in: #6b7b8a;
  --forms-undefined-icon: #6b7b8a;
  --forms-undefined-message: #6b7b8a;
}

[data-mode='dark'] {
  --backgrounds-01: #001a33;
  --backgrounds-02: #001a33;
  --fills-white: #001a33;
  --fills-gray-1: #ffffff;
  --fills-p2: #b0d9ff;
  --fills-s1-1: #f8d5e0;
  --fills-success-1: #a2dbb3;
  --fills-error-1: #d9b8b9;
  --fills-warning-1: #f9d999;
  --fills-gray-2: #ffffff;
  --fills-p1: #d9edff;
  --fills-p4: #003865;
  --fills-hover: #003865;
  --fills-p3: #0072f5;
  --fills-s2-2: #88e783;
  --fills-s3-2: #8be1e9;
  --fills-s4-2: #a094ff;
  --fills-black: #ffffff;
  --fills-s1-2: #eca7bd;
  --fills-s1-3: #cf2259;
  --fills-s2-3: #024700;
  --fills-s2-1: #b4f8b1;
  --fills-s3-3: #003033;
  --fills-s3-1: #d6f3f5;
  --fills-s4-3: #350084;
  --fills-s4-1: #e2dff7;
  --fills-always-white: #ffffff;
  --fills-always-black: #000000;
  --fills-gray-3: #f4f5f6;
  --fills-p5: #001a33;
  --fills-s1-4: #92163d;
  --fills-s1-5: #73123c;
  --fills-s2-4: #024700;
  --fills-s2-5: #024700;
  --fills-success-2: #6dc849;
  --fills-success-3: #237210;
  --fills-error-2: #d63838;
  --fills-error-3: #850606;
  --fills-warning-2: #f7ba40;
  --fills-warning-3: #7a5706;
  --fills-s3-4: #003033;
  --fills-s3-5: #003033;
  --fills-s4-4: #350084;
  --fills-s4-5: #350084;
  --fills-gray-2-3: #ffffff;
  --fills-gray-2-2: #ffffff;
  --texts-01: #ffffff;
  --texts-02: #ffffff;
  --texts-primary-1: #0072f5;
  --texts-error: #d63838;
  --texts-success: #a2dbb3;
  --texts-warning: #f9d999;
  --texts-link: #0072f5;
  --texts-secondary-1: #cf2259;
  --texts-hover: #0072f5;
  --texts-secondary-2: #eca7bd;
  --texts-always-black: #000d1a;
  --texts-always-white: #ffffff;
  --texts-03: #ffffff;
  --texts-secondary-3: #f8d5e0;
  --texts-disabled: #8796a3;
  --texts-primary-2: #eef7ff;
  --strokes-icons-02: #ffffff;
  --strokes-icons-03: #ffffff;
  --strokes-icons-01: #ffffff;
  --strokes-icons-success-1: #237210;
  --strokes-icons-error-1: #850606;
  --strokes-icons-warning-1: #7a5706;
  --strokes-icons-04: #ffffff;
  --strokes-icons-p-1: #b0d9ff;
  --strokes-icons-p-2: #0072f5;
  --strokes-icons-p-3: #003865;
  --strokes-icons-p-4: #d9edff;
  --strokes-icons-s1-1: #73123c;
  --strokes-icons-s1-2: #cf2259;
  --strokes-icons-s1-3: #f8d5e0;
  --strokes-icons-s2-3: #b4f8b1;
  --strokes-icons-s2-1: #024700;
  --strokes-icons-s2-2: #88e783;
  --strokes-icons-s3-1: #003033;
  --strokes-icons-s3-2: #8be1e9;
  --strokes-icons-s3-3: #d6f3f5;
  --strokes-icons-s4-1: #350084;
  --strokes-icons-s4-2: #a094ff;
  --strokes-icons-s4-3: #e2dff7;
  --strokes-icons-success-2: #6dc849;
  --strokes-icons-success-3: #a2dbb3;
  --strokes-icons-error-2: #d63838;
  --strokes-icons-error-3: #d9b8b9;
  --strokes-icons-warning-2: #f7ba40;
  --strokes-icons-warning-3: #f9d999;
  --button-primary-default-fill: #0072f5;
  --button-primary-default-stroke: #0072f5;
  --button-primary-default-text: #001a33;
  --button-primary-default-icon: #001a33;
  --button-primary-hover-fill: #003865;
  --button-primary-hover-stroke: #ffffff;
  --button-primary-hover-text: #eef7ff;
  --button-primary-hover-icon: #eef7ff;
  --button-primary-disabled-fill: #ffffff;
  --button-primary-disabled-text: #ffffff;
  --button-primary-disabled-icon: #ffffff;
  --button-primary-disabled-stroke: #ffffff;
  --button-primary-focused-fill: #0072f5;
  --button-primary-focused-stroke: #001a33;
  --button-primary-focused-text: #001a33;
  --button-primary-focused-icon: #001a33;
  --button-primary-selected-fill: #003865;
  --button-primary-selected-stroke: #001a33;
  --button-primary-selected-text: #001a33;
  --button-primary-selected-icon: #001a33;
  --button-secondary-default-stroke: #ffffff;
  --button-secondary-default-fill: #ffffff;
  --button-secondary-default-text: #eef7ff;
  --button-secondary-default-icon: #eef7ff;
  --button-secondary-hover-fill: #ffffff;
  --button-secondary-hover-stroke: #ffffff;
  --button-secondary-hover-text: #eef7ff;
  --button-secondary-hover-icon: #001a33;
  --button-secondary-focused-fill: #ffffff;
  --button-secondary-focused-stroke: #0072f5;
  --button-secondary-focused-text: #001a33;
  --button-secondary-focused-icon: #001a33;
  --button-secondary-selected-fill: #003865;
  --button-secondary-selected-stroke: #ffffff;
  --button-secondary-selected-text: #001a33;
  --button-secondary-selected-icon: #001a33;
  --button-secondary-disabled-fill: #ffffff;
  --button-secondary-disabled-text: #ffffff;
  --button-secondary-disabled-icon: #ffffff;
  --button-secondary-disabled-stroke: #ffffff;
  --button-terciary-default-fill: #ffffff;
  --button-terciary-default-stroke: #ffffff;
  --button-terciary-default-text: #ffffff;
  --button-terciary-default-icon: #ffffff;
  --button-terciary-hover-fill: #ffffff;
  --button-terciary-hover-stroke: #ffffff;
  --button-terciary-hover-text: #eef7ff;
  --button-terciary-hover-icon: #ffffff;
  --button-terciary-focused-fill: #e3e5e8;
  --button-terciary-focused-stroke: #eef7ff;
  --button-terciary-focused-text: #ffffff;
  --button-terciary-focused-icon: #ffffff;
  --button-terciary-selected-fill: #d9edff;
  --button-terciary-selected-stroke: #ffffff;
  --button-terciary-selected-text: #001a33;
  --button-terciary-selected-icon: #001a33;
  --button-terciary-disabled-fill: #ffffff;
  --button-terciary-disabled-stroke: #ffffff;
  --button-terciary-disabled-text: #ffffff;
  --button-terciary-disabled-icon: #ffffff;
  --button-link-primary-default-fill: #ffffff;
  --button-link-primary-default-stroke: #ffffff;
  --button-link-primary-default-text: #ffffff;
  --button-link-primary-default-icon: #ffffff;
  --button-link-primary-hover-fill: #ffffff;
  --button-link-primary-hover-stroke: #ffffff;
  --button-link-primary-hover-text: #0072f5;
  --button-link-primary-hover-icon: #0072f5;
  --button-link-primary-focused-fill: #ffffff;
  --button-link-primary-focused-stroke: #ffffff;
  --button-link-primary-focused-text: #0072f5;
  --button-link-primary-focused-icon: #0072f5;
  --button-link-primary-selected-fill: #ffffff;
  --button-link-primary-selected-stroke: #ffffff;
  --button-link-primary-selected-text: #000000;
  --button-link-primary-selected-icon: #000000;
  --button-link-primary-disabled-fill: #ffffff;
  --button-link-primary-disabled-stroke: #ffffff;
  --button-link-primary-disabled-text: #ffffff;
  --button-link-primary-disabled-icon: #ffffff;
  --button-transactional-default-fill: #cf2259;
  --button-transactional-default-stroke: #cf2259;
  --button-transactional-default-text: #001a33;
  --button-transactional-default-icon: #001a33;
  --button-transactional-hover-fill: #92163d;
  --button-transactional-hover-stroke: #92163d;
  --button-transactional-hover-text: #f8d5e0;
  --button-transactional-hover-icon: #f8d5e0;
  --button-transactional-focused-fill: #cf2259;
  --button-transactional-focused-stroke: #73123c;
  --button-transactional-focused-text: #ffffff;
  --button-transactional-focused-icon: #ffffff;
  --button-transactional-selected-fill: #92163d;
  --button-transactional-selected-stroke: #92163d;
  --button-transactional-selected-text: #ffffff;
  --button-transactional-selected-icon: #ffffff;
  --button-transactional-disabled-fill: #ffffff;
  --button-transactional-disabled-stroke: #ffffff;
  --button-transactional-disabled-text: #ffffff;
  --button-transactional-disabled-icon: #ffffff;
  --button-link-secondary-default-fill: #ffffff;
  --button-link-secondary-default-stroke: #ffffff;
  --button-link-secondary-default-text: #c0c6cc;
  --button-link-secondary-default-icon: #c0c6cc;
  --button-link-secondary-hover-stroke: #ffffff;
  --button-link-secondary-hover-text: #4c5f70;
  --button-link-secondary-hover-icon: #4c5f70;
  --button-link-secondary-hover-fill: #ffffff;
  --button-link-secondary-focused-stroke: #ffffff;
  --button-link-secondary-focused-text: #ffffff;
  --button-link-secondary-focused-icon: #ffffff;
  --button-link-secondary-focused-fill: #ffffff;
  --button-link-secondary-selected-fill: #ffffff;
  --button-link-secondary-selected-stroke: #ffffff;
  --button-link-secondary-selected-text: #ffffff;
  --button-link-secondary-selected-icon: #ffffff;
  --button-link-secondary-disabled-fill: #000000;
  --button-link-secondary-disabled-stroke: #ffffff;
  --button-link-secondary-disabled-text: #ffffff;
  --button-link-secondary-disabled-icon: #ffffff;
  --button-navigation-default-fill: #ffffff;
  --button-navigation-default-stroke: #000000;
  --button-navigation-default-text: #ffffff;
  --button-navigation-default-icon: #ffffff;
  --button-navigation-hover-fill: #ffffff;
  --button-navigation-hover-stroke: #ffffff;
  --button-navigation-hover-text: #001a33;
  --button-navigation-hover-icon: #001a33;
  --button-navigation-focused-fill: #ffffff;
  --button-navigation-focused-stroke: #0072f5;
  --button-navigation-focused-text: #001a33;
  --button-navigation-focused-icon: #001a33;
  --button-navigation-selected-fill: #d9edff;
  --button-navigation-selected-stroke: #ffffff;
  --button-navigation-selected-text: #001a33;
  --button-navigation-selected-icon: #001a33;
  --button-navigation-disabled-fill: #ffffff;
  --button-navigation-disabled-stroke: #ffffff;
  --button-navigation-disabled-text: #ffffff;
  --button-navigation-disabled-icon: #ffffff;
  --forms-default-stroke: #c0c6cc;
  --forms-default-fill: #ffffff;
  --forms-default-text: #001a33;
  --forms-default-label-out: #ffffff;
  --forms-default-icon: #001a33;
  --forms-default-message: #a0acb8;
  --forms-default-label-in: #ffffff;
  --forms-hover-stroke: #b0d9ff;
  --forms-hover-fill: #ffffff;
  --forms-hover-text: #f4f5f6;
  --forms-hover-label-out: #e3e5e8;
  --forms-hover-icon: #001a33;
  --forms-hover-message: #c0c6cc;
  --forms-hover-label-in: #e3e5e8;
  --forms-focused-stroke: #001a33;
  --forms-focused-fill: #ffffff;
  --forms-focused-text: #001a33;
  --forms-focused-label-out: #a0acb8;
  --forms-focused-icon: #001a33;
  --forms-focused-message: #c0c6cc;
  --forms-focused-label-in: #4c5f70;
  --forms-filled-stroke: #ffffff;
  --forms-filled-fill: #ffffff;
  --forms-filled-text: #001a33;
  --forms-filled-label-out: #4c5f70;
  --forms-filled-icon: #001a33;
  --forms-filled-message: #4c5f70;
  --forms-filled-label-in: #4c5f70;
  --forms-error-stroke: #d63838;
  --forms-error-fill: #ffffff;
  --forms-error-text: #ffffff;
  --forms-error-label-out: #ffffff;
  --forms-error-icon: #001a33;
  --forms-error-message: #d9b8b9;
  --forms-error-label-in: #8796a3;
  --forms-disabled-stroke: #ffffff;
  --forms-disabled-text: #ffffff;
  --forms-disabled-fill: #ffffff;
  --forms-disabled-label-out: #ffffff;
  --forms-disabled-icon: #ffffff;
  --forms-disabled-message: #ffffff;
  --forms-disabled-label-in: #ffffff;
  --forms-selected-fill: #6b7b8a;
  --forms-selected-stroke: #6b7b8a;
  --forms-selected-text: #6b7b8a;
  --forms-selected-label-out: #6b7b8a;
  --forms-selected-label-in: #6b7b8a;
  --forms-selected-icon: #6b7b8a;
  --forms-selected-message: #6b7b8a;
  --forms-validated-fill: #ffffff;
  --forms-validated-stroke: #6dc849;
  --forms-validated-text: #ffffff;
  --forms-validated-label-out: #ffffff;
  --forms-validated-label-in: #8796a3;
  --forms-validated-icon: #001a33;
  --forms-validated-message: #a2dbb3;
  --forms-undefined-fill: #6b7b8a;
  --forms-undefined-stroke: #6b7b8a;
  --forms-undefined-text: #6b7b8a;
  --forms-undefined-label-out: #6b7b8a;
  --forms-undefined-label-in: #6b7b8a;
  --forms-undefined-icon: #6b7b8a;
  --forms-undefined-message: #6b7b8a;
}