.m32 {
  background: var(--backgrounds-01);
  padding-top: var(--layout-spacers-12, 72px);
  padding-bottom: var(--layout-spacers-12, 72px);
  padding-left: var(--layout-grids-wrapper-default);
  padding-right: var(--layout-grids-wrapper-default);
  display: flex;
  flex-direction: column;
}

.m32__content {
  display: flex;
  flex-direction: column;
  gap: var(--layout-spacers-11);
  width: 100%;
}

.m32__header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--layout-grids-gutter);
}

.m32__header-left {
  grid-column: 1 / 7;
  font-family: var(--theme-font-family-title);
  font-size: var(--typography-title-3-sz);
  line-height: var(--typography-title-3-lh);
  color: var(--texts-01);
  font-weight: 400;
}

.m32__header-right {
  grid-column: 8 / 13;
  font-family: var(--theme-font-family-body);
  font-size: var(--typography-body-3-sz);
  line-height: var(--typography-body-3-lh);
  color: var(--texts-02);
  font-weight: 400;
  align-self: center;
}

.m32__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--layout-grids-gutter);
}

.m32__card {
  background: var(--fills-gray-1);
  border-radius: var(--layout-corners-s);
  padding: var(--layout-spacers-6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 264px;
}

.m32__card-icon {
  background: var(--fills-gray-3);
  border-radius: var(--layout-corners-xs);
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.m32__card-bottom {
  display: flex;
  flex-direction: column;
  gap: var(--layout-spacers-2);
}

.m32__card-title {
  font-family: var(--theme-font-family-body);
  font-size: var(--typography-body-4-sz);
  line-height: var(--typography-body-4-lh);
  color: var(--texts-01);
  font-weight: 500;
}

.m32__card-subtitle {
  font-family: var(--theme-font-family-body);
  font-size: var(--typography-body-3-sz);
  line-height: var(--typography-body-3-lh);
  color: var(--texts-02);
  font-weight: 400;
}
